<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zoo Management</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <h1>Welcome to Zoo WEST JAVA</h1>
      <nav>
        <a href="/animals">View Animals</a>
        <a href="/animals/add">Add Animal</a>
      </nav>
    </header>
    <main>
      <section class="hero">
        <img
          src="https://png.pngtree.com/background/20230425/original/pngtree-giraffes-in-zoo-surrounded-by-rocks-picture-image_2472790.jpg"
          alt="Zoo Image"
          class="hero-image"
        />
        <div class="hero-text">
          <h2>Manage Animals ZOO WEST JAVA</h2>
          <p>
            Dengan Menggunak Web Apps Ini dapat memudahkan untuk melihat daftar hewan apa saja yang ada di ZOO WEST JAVA dan Memonitor Hewa-Hewan dengan Mudah.
          </p>
          <a href="/animals" class="button">View Animals</a>
        </div>
      </section>
    </main>
    <footer>
      <p>&copy; 2024 Zoo Management. All rights reserved.</p>
    </footer>
  </body>
</html>
